html {
  cursor: url('vox_hover.ico'), auto;
}

a:hover {
  cursor: url('vox_hover.ico'), auto;
}

.card {
    background-color:#ffffff;
    border-radius:3px;
    border: 1px solid #a1a1a1;
    padding:20px;
    height: fit-content;
  }
  
  .card .pic img {
    width: 100%;
  }
  
  .card .card-header{
    border-bottom:none;
    background-color:transparent;
  }
  
  .card .title {
    color:#444444;
  }
  
  .card .text {
    color:#444444;
  
  }
  
  .card-footer{
    border-top:none !important;
    background-color:transparent !important;
  }